body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display: grid;
}

.headerShader > h4 {
    color: white;
    padding: 0.2rem;
    font-size: 1.5rem;
}

.headerShader {
    background-color: #6804ec;
    padding: 0.1rem;
    margin-top: 0.4rem;
    border-radius: 5px;
    text-align: center;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(100%);
}

.mdl-button--raised.mdl-button--colored {
    background-color: #6804ec !important;
}

.mdl-card {
    max-width: 60% !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    transform: translateY(40%);
}

.progressbar {
    background-color: #6804ec !important;
}
